/* .page {
    width: 375px;
    height: 933px;
    background-color: #3D6666;
} */



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    background-color: #C5E4E7;
    font-family: 'Space Mono';
    display: flex;
}

/* .search {
    overflow-x: scroll;
} */

.find_results {
    border: 1px solid black;
    font-size: 12px;
}

/* .searchfield {
    display: flex;
    flex-direction: row;
} */

.tr-search {
    display: flex;
    flex-wrap: wrap;
}

.pr-td {
    border: 1px solid black;
}


.createModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.deleteModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.card {
    width: 375px;
    min-height: 1000px;
    border-radius: 25px;
    margin-top: 144px;
    margin-bottom: 144px;
    background-color: white;
    padding: 32px;
    justify-content: center;
    box-shadow: 5px 10px 20px #26C2AE;
    overflow-x: scroll;
    position: relative;
}

h1 {
    color: #00474B;
    margin-bottom: 25px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    color: #5E7A7D;
    border-style: hidden;
    border-radius: 5px;
  }

  .show {display:block;}

h2 {
    font-size: 20px;
    color: #00474B;
    margin-bottom: 25px;
}

form {
    font-size: 16px;
    color: #00474B;
    margin-bottom: 25px;
}

h3 {
    font-size: 16px;
    color: #5E7A7D;
    margin-bottom: 25px;
}

h4 {
    font-size: 12px;
    color:  #5E7A7D;
}

p {
    font-size: 16px;
    color: #00474B;
    margin-bottom: 25px;
}

a {
    font-size: 14px;
    color: #00474B;
    background: transparent;
}

ol {
    font-size: 16px;
    color: #00474B;
    margin-bottom: 25px;
    margin-left: 32px;
}

.programmers {
    width: 100%;
    margin-bottom: 25px;
}

.dropdown {
    position: relative;
    display: inline-block;
  }

button {
    background-color: #26C2AE;
    color:  #00474B;
    width: 150px;
    height: 150px;
    font-size: 10px;
    margin-bottom: 25px;
    text-align: center;
    border-radius: 5px;
    border: none;
    font-family: 'Space Mono';
}

button:hover {
    background-color: #C5E4E7;
    cursor: pointer;
    transition-duration: 1s;
}

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 35px;
}

.start_button {
    width: 150px;
    height: 50px;
    font-size: 16px;
}

/* .create_programmer {
    display: none;
} */

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* .delete_programmer {
    display:none;
} */

.login_page {
    display: none;
}

.time {
    width: 30px;
    height: 35px;
    margin-right: 25px;
    margin-left: 15px;
}

.dancing_man {
    width: 100%;
    margin-bottom: 35px;
}

.bottom {
    display: flex;
    flex-direction: row;
}

input:invalid {
    background-color: #FFF0F5;
    border: none;
    outline: 1px solid red;
}

.input_project {
 min-height: 100px;
 text-align:start;
 padding: 1%;
}

progress {
    color: #00474B;
    height: 25px;
  } 

  footer {
    position: fixed;
    bottom: 0;
    margin:auto;
  }

@media only screen and (min-width: 992px) {
    body {
        display: flex;
        justify-content: center;
    }
    .card { 
            width: 800px;
            height: 700px;
            }
    .buttons {
        display: flex;
        flex-direction: row;}

    .dancing_man {
        width: 40%;    }
    p {
        margin-bottom: 35px;
    }

    h2 {
        margin-bottom: 35px;
    }
    }

    @media only screen and (max-width: 600px) {
        .card {
            margin: 0px;
            width: 100%;
            height: 100%;
            border-radius: 0px;
            border: 4px solid #26C2AE;

        }
        body {
            margin: 0px;
            /* display:block; */
        }
    }

    @media only screen and (min-width: 600px) {
        body {
            display: flex;
            justify-content: center;
        }
    }